<h1>Hello from Category</h1>

<!--
    Directive are the instructions to the DOM Elements which is given to Angular by us.

    Attribute Directive
    Structural Directive
    Component Directive
    Custom Directive
-->
<div [ngClass]="isColor ? 'mainColor' : 'subColor'">
  <p>This is some main paragraph</p>
</div>

<div appbackgroundColor >
  <div class="container">
    <div class="row" style="background-color: aqua;"  >
      <div class="col-md-12">
        <p>THis is inside custom directive</p>
      </div>
    </div>
  </div>
</div>

*customngIf 